
@font-face {
  font-family: 'Comic Neue';
  src: url('fonts/ComicNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --text-color: #bbb;
  --background-color: #000;

  --header-border-color: #444;
  --header-background-color: #111;

  --content-border-color: #333;
  --content-background-color: #1a1a1a;

  --button-background-color: #222;
  --button-background-color-hover: #444;
  --button-border-color: #aaa;
  --button-text-color: #bbb;
}

* {
  box-sizing: border-box;
  font-family: "Comic Neue";
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.1em;
}

form {
  margin: 1em 0;
}

a {
  color: #fff;
}

input {
  background-color: var(--button-background-color);
  border: 2px solid var(--button-border-color);
  color: #fff;
  border-radius: 5px;
}

.break {
  border: none;
  width: 100%;
  height: 1em;
}

.button, .buttonDestructive, .text-label {
  background-color: var(--button-background-color);
  border: 2px solid var(--button-background-color);
  border-radius: 5px;
  color: var(--button-text-color);
  padding: 5px;
}

.text-label {
  text-decoration: underline;
  border: none;
}

.button, .buttonDestructive {
  border: 2px solid var(--button-border-color);
  cursor: pointer;
  transition: background 0.2s;
}

.buttonDestructive {
  filter: invert(100%);
  text-decoration: underline;
  margin-left: 1em;
}


.button:hover, .buttonDestructive:hover {
  background-color: var(--button-background-color-hover);
}

.header {
  border: 2px solid var(--header-border-color);
  background-color: var(--header-background-color);
  width: 100%;
  margin: 6px auto;
  padding: 1em;
  font-size: 1.3em;
}

.content, .configuration, .downloadSection {
  border: 2px solid var(--content-border-color);
  background-color: var(--content-background-color);
  width: calc(50% - 6px);
  margin: 3px;
  padding: 1em;
}

.downloadSection {
  width: auto;
}

.content {
  float: left;
}

.configuration {
  float: right;
}

.hoverable {
    cursor: help;
}

.tooltip {
  display: none;
  position: absolute;
  border: 2px solid var(--content-border-color);
  background-color: var(--content-background-color);
  margin: 5px;
  border-radius: 5px;
  padding: 0.6em;
  z-index: 1;
}

.hoverable:hover + .tooltip {
    display: block;
}


/* Download table elements */ 
.fileInfoTable {
  border: 2px solid var(--header-border-color);
  margin:auto;
}

.fileInfoTableHeader, .fileInfoTableLabel, .fileInfoTableValue {
  padding: 3px;
}

.fileInfoTableHeader {
  background-color: var(--header-background-color);
  border-bottom: 2px solid var(--header-border-color);
}

.fileInfoTableLabel {

}

.fileInfoTableValue {

}

.sublink {
  font-size: 0.7em;
}

@media screen and (max-width: 480px) {
  body {
    font-size: 0.8em;
    overflow-wrap: break-word;
  }


  .content, .configuration {
    float: default;
    width: 100%;
    margin: 3px 0;
  }

  .button, .buttonDestructive, .text-label, input {
    font-size: 0.8em;
  }
}
